[Desktop Entry]
Encoding=UTF-8
Name=Ссылка на On Illuminant Detection
Type=Link
URL=http://cvil.eecs.yorku.ca/projects/public_html/illuminant/illuminant.html
Icon=text-html
